# OTP Verification

The user has the option to make screens for both Mobile and Email OTP Verification according to the requirement. Using it we can be assured that the mobile number and email id provided by the onboarding merchant belongs to him. However, the user has an option to decide whether to keep verification mandatory or not.

![](https://lh5.googleusercontent.com/AAD0sGOZjmE2Mmuorrw0FlxQlvrklwlMoBBVrX1zbAGfRnfEosfTbbb04lnAH2iqU\_Q\_f2kXeVvD8Ibh4STlQRGxGX1siCmCQWUnSBDFLWa-pSGGG89GrjPMDfyLuJ3Wl-EPeRxt0aX6sPR8gg)

**OTP verification can be done for :**

* Email ID&#x20;
* Phone Number

#### How to set up OTP verification for email ID

By default, when the OTP verification screen setup page is opened on the GO admin portal, we get the same screen as shown in the above GIF which is pre-designed for email validation via OTP.

So we do not need to do changes until and unless we require changing the predefined messages and text that is displayed on various buttons

#### How to set up OTP verification for a Mobile number

&#x20;We have this number toggle button to enable Verification of mobile numbers, for which we can custom the messages and text for the buttons available.

**Further, we have 5 toggle buttons to customize the page**

![](https://lh4.googleusercontent.com/7UmMGEjxzAdvaBu2IqeKt2RIlS4DQTJJG7znxJgAhQf9mCF-SXoEcRVf0J2nSO4elIxVWIvnQzgO2oO0sZIRsdytdg2u37xSszuhHqH29kBMvTbCjLcNOoqKxTbZx10Nw0Mg0aMfcZGKrweNCA)

1. For verification of the mobile number&#x20;
2. After the onboarding customer verifies his email ID/ phone number and switches between pages during the journey, he no longer needs to verify his email/ phone number again.&#x20;
3. If enabled, verification of email/ phone numbers cannot be skipped.&#x20;
4. It masks the number if the number gets prefilled from the previous journey.&#x20;
5. Call third party API The following details need to be filled out that will be provided by the third party to use their OTP services

![](https://lh4.googleusercontent.com/VVLtvMXDWsBATESVTz6zMvWLzu9JC-Tb2XQu-NMEKeGuaNVqTvvaNYMOou\_pvCUHK4D-U1FCpsJ2oKSLisOIL2aqGWSFwUlep98Mi9\_k7AUgX8VLKaoTKIeNViYCF-cbJDoy9UCyBNihszDelg)
