# Photo Verification

The admin can use this screen type to verify the photos provided by the end-user. During the verification process, the device's camera will capture the onboarding customer's image. The image captured is then saved under a variable name set by the administrator.

![In this way, we can create a screen for Photo verification](https://lh6.googleusercontent.com/5me-evlsXZ-Fzee4EZKh9z5ciUVSA43x1DQg6cTl0PDOa6OS74D7QseKy6ZR\_Wy5rxuHI2L2TR5bgE4LBaMtKDltQffB7kl7JvSviAzY6zqm\_5e\_aYoILm4KK5FMrxw6AIJU2R4laFwWieuthg)

{% hint style="danger" %}
Variable names must not contain&#x20;

* Any spaces&#x20;
* Any special characters like !@#$..
{% endhint %}
